.previewTimeline .talkbubbleleft {
   margin-left: 0.5%;
   border: 5px solid white;
   position: relative;
   -moz-border-radius:    10px;
   -webkit-border-radius: 10px;
   border-radius:         10px;
}
.previewTimeline .talkbubbleleft:before {
   content:"";
   margin-left: 0.5%;
   position: absolute;
   left: 100%;
   top: 26px;
   width: 0;
   height: 0;
   border-top: 13px solid transparent;
   border-left: 26px solid white;
   border-bottom: 13px solid transparent;
}

.previewTimeline .talkbubbleright {
   border: 5px solid white;
   position: relative;
   -moz-border-radius:    10px;
   -webkit-border-radius: 10px;
   border-radius:         10px;
}
.previewTimeline .talkbubbleright:before {
   content:"";
   position: absolute;
   right: 100%;
   top: 26px;
   width: 0;
   height: 0;
   border-top: 13px solid transparent;
   border-right: 26px solid white;
   border-bottom: 13px solid transparent;
}

.previewTimeline .talkbubbleright .time h4 {
    text-align: left;
}

.previewTimeline .talkbubbleleft .time h4 {
    text-align: right;
}

.previewTimeline .zoominright {
    float: right;
    position: absolute;
    top:10px;
    left:-30px;
}

.previewTimeline .zoominleft {
    float: right;
    position: absolute;
    top:10px;
    right:-35px;
}

.previewTimeline .image {
    width: 50px;
}

.previewTimeline .information {
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: right;
}

.previewTimeline a {
    color: inherit;
    text-decoration: none;
}

.previewTimeline  a:hover {
     color:inherit; 
     text-decoration:none; 
}

.previewTimeline .testimonial{
   border-color: #D1D1D1;
   background-color: #D1D1D1;
   box-shadow: 5px 5px 1px #FFFF00;
}
.previewTimeline .talkbubbleleft.testimonial:before {
   border-left-color: #D1D1D1;
}
.previewTimeline .talkbubbleright.testimonial:before {
   border-right-color: #D1D1D1;
}


.previewTimeline .in{
   border-color: #D1D1D1;
   background-color: #D1D1D1;
   box-shadow: 5px 5px 1px #00FF00;
}
.previewTimeline .talkbubbleleft.in:before {
   border-left-color: #D1D1D1;
}
.previewTimeline .talkbubbleright.in:before {
   border-right-color: #D1D1D1;
}
.previewTimeline .in .bootstrap-widget-header {
    background-color: #E1E1E1;
    background-image: none;
    border: none;
}

.previewTimeline .out {
   border-color: #BFBFBF;
   background-color: #BFBFBF;
   box-shadow: 5px 5px 1px #FF0000;
}
.previewTimeline .talkbubbleleft.out:before {
   border-left-color: #BFBFBF;
}
.previewTimeline .talkbubbleright.out:before {
   border-right-color: #BFBFBF;
}
.previewTimeline .out .bootstrap-widget-header {
    background-color: #CFCFCF;
    background-image: none;
    border: none;
}

.previewTimeline .death {
   border-color: #A5A2A2;
   background-color: #A5A2A2;
   box-shadow: 5px 5px 1px #0000FF;
}
.previewTimeline .talkbubbleleft.death:before {
   border-left-color: #A5A2A2;
}
.previewTimeline .talkbubbleright.death:before {
   border-right-color: #A5A2A2;
}
.previewTimeline .death .bootstrap-widget-header {
    background-color: #C6C6C6;
    background-image: none;
    border: none;
}